:root {
  --background: hsl(0, 0%, 100%);
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
	text-align:center;
  background:var(--background);
  user-select:none;
}

#container {
  position:relative;
  overflow:hidden;
}

#clock {
  height:100vh;
	color:white;
	display:flex;
  align-items:center;
  justify-content:center;
	font-size:120px;
	font-family:Inconsolata;
}

#controls {
  position:absolute;
  right:0;
  top:0;
  width:20%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  transform:translateX(0);
  background-color:rgba(0, 0, 0, .3);
  transition:1s ease-in-out;
}

#controls.closed {
  transform:translateX(calc(100% - 45px));
  background-color:transparent;
  transition:1s ease-in-out;
}

.menuButton {
  color:white;
  font-size:32px;
  font-family:Inconsolata;
  position:absolute;
  top:10px;
  left:20px;
  transform:rotate(180deg);
  transition:1s ease-in-out;
}

.menuButton.open {
  transform:rotate(0deg);
  transition:1s ease-in-out;
}

#lightnessSlider {
  width:100%;
  margin:10px 0;
}

.text {
	font-family:Julius Sans One;
	font-size:12px;
	color:white;
}

.bold {
  font-weight:bold;
}

.button {
  width:60%;
  padding:10px;
  border:1px solid white;
}

.menuButton:hover, .button:hover, #explainerButton:hover {
  cursor:pointer;
}

#explainerButton {
  position:absolute;
  bottom:20px;
  left:20px;
  font-size:22px;
  font-weight:bold;
}

#explainer {
  display:none;
  position:absolute;
  width:25%;
  height:45%;
  overflow-y:scroll;
  border:1px solid white;
  left:40px;
  bottom:45px;
  padding:5px;
  font-family:'Inconsolata';
  font-size:16px;
  background-color:rgba(0, 0, 0, .3);
}

p {
  margin:10px 0;
}

.hidden {
  display:none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 40%;
  vertical-align: middle;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 6.2px;
  border: 1px solid #ececec;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(5, 0, 0, 0), 0px 0px 0px rgba(31, 0, 0, 0);
  border: 0px solid #000000;
  height: 12px;
  width: 11px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 6.2px;
  border: 1px solid #ececec;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(5, 0, 0, 0), 0px 0px 0px rgba(31, 0, 0, 0);
  border: 0px solid #000000;
  height: 12px;
  width: 11px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fcfcfc;
  border: 1px solid #ececec;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(5, 0, 0, 0), 0px 0px 0px rgba(31, 0, 0, 0);
  border: 0px solid #000000;
  height: 12px;
  width: 11px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

